<div class="off-canvas-wrap">
	<div class="inner-wrap">
		<nav id="topbar" class="tab-bar">
			<section class="left-small">
				<a class="left-off-canvas-toggle menu-icon" ><span></span></a> 
			</section> 
			<section class="middle tab-bar-section">
				<img id="serverlogo" style="float:right;" src="/logo.png" />
				<h1 class="title">{{ include.title }}</h1>
			</section> 
			<!-- <section class="right-small"> 
				<a class="right-off-canvas-toggle menu-icon" ><span></span></a> 
			</section> --> 
		</nav> 
		<aside class="left-off-canvas-menu"> 
			<ul class="off-canvas-list"> 

				<li><label>[MENSAGENS]</label></li> 
				<li><a href="" ng-click="optionAllUsers()">Nova</a></li>
				<li><a href="" ng-click="optionAllUsers()">Recebidas</a></li>
				<li><a href="" ng-click="optionAllUsers()">Enviadas</a></li>
				<li><a href="" ng-click="optionAllUsers()">Importantes</a></li>

				<li><label>[OUTROS]</label></li> 
				<li><a href="" ng-click="logout()">Log out</a></li>

			</ul> 
		</aside> 
		<!-- <aside class="right-off-canvas-menu"> 
			<ul class="off-canvas-list"> 
				<li><label>Users</label></li> 
				<li><a href="#">Hari Seldon</a></li> ... 
			</ul> 
		</aside> --> 
		<section id="main-container" class="main-section full-page">
			<div class="full-page" ng-include="include.url"></div>
		</section> 
		<a class="exit-off-canvas"></a> 
	</div> 
</div>

<script type="text/javascript">
    vpw = $(window).width();
    vph = $(window).height();
    tbh = $('#topbar').height();
    $('.full-page').height(vph-tbh);
</script>
