<div ng-init="message=include.param">
    <div class="panel" style="padding:2px;margin-bottom:5px;">
        <div style="margin-top:5px;margin-bottom:5px;margin-left:5px;margin-right:5px;">
            <textarea rows="5" style="margin:0px;" type="text" placeholder="mensagem..." ng-model="newMessageText" />
            <div style="margin-top:12px;float:left;" ng-init="replyAllowed=true;">
                <input id="chkAllowReply" type="checkbox" class="tiny" ng-model="replyAllowed">
                <label for="chkAllowReply">Permite responder</label>
            </div>
            <div style="margin-top:12px;float:left;" ng-init="autoArchive=true;">
                <input id="chkAutoArchive" type="checkbox" class="tiny" ng-model="autoArchive">
                <label for="chkAutoArchive">Auto arquivar</label>
            </div>
            <button class="tiny" style="margin-top:5px;margin-bottom:5px;float:right;" ng-click="replyMessage(message, newMessageText, replyAllowed, autoArchive)">Enviar</button>
        </div>
        <table style="width:100%;height:100%;border:0px;margin:0px;">
            <tr>
                <td style="width:84px;height:66px;padding:2px;background-color:rgb(255, 240, 128)" rowspan=3>
                    <img style="margin:2px;width:64px;height:64px;border:1px solid #cccccc;" ng-src="{{ message.picture }}" />
                </td>
                <td style="background-color:rgb(255, 240, 128);padding:0px;width:10px;text-align:right;vertical-align:top;">De:&nbsp;</td>
                <td style="background-color:rgb(255, 240, 128);padding:0px;width:*;text-align:left;line-height:1.0rem;">{{ message.fromusername }}<br/>{{ message.fromuserdept }}</td>
            </tr>
<!--
            <tr>
                <td style="background-color:rgb(255, 240, 128);padding:0px;width:10px;text-align:right;">&nbsp;</td>
                <td style="background-color:rgb(255, 240, 128);padding:0px;width:*;text-align:left;">{{ message.fromuserdept }}</td>
            </tr>
-->
            <tr>
                <td style="background-color:rgb(255, 240, 128);padding:0px;width:10px;text-align:right;">Data:&nbsp;</td>
                <td style="background-color:rgb(255, 240, 128);padding:0px;width:*;text-align:left;">{{ message.timestamp | date:'dd/MM/yyyy hh:mm:ss' }}</td>
            </tr>
            <tr>
                <td style="background-color:rgb(255, 240, 128);padding:0px;width:10px;text-align:right;">ID:&nbsp;</td>
                <td style="background-color:rgb(255, 240, 128);padding:0px;width:*;text-align:left;">{{ message.messageid }}</td>
            </tr>
            <tr>
                <td colspan=3 style="background-color:rgb(255, 255, 225);padding:5px;width:*;text-align:justify;">
                    <span style="white-space: pre-wrap;word-wrap:break-word;">{{ message.body }}</span>
                </td>
            </tr>
        </table>
    </div>
</div>