<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.intrachat.webclient" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WebClient</name>
    <description>
        Cliente IntraChat Web/Mobile.
    </description>
    <author email="suporte@intrachat.com.br" href="http://www.intrachat.com.br">
        Comunicador IntraChat
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
