<div>
    <div style="margin-top:5px;margin-bottom:5px;margin-left:5px;margin-right:5px;">
        <textarea rows="5" style="margin:0px;" type="text" placeholder="mensagem..." ng-model="newMessageText" />
        <div style="margin-top:12px;float:left;" ng-init="replyAllowed=true;">
            <input id="chkAllowReply" type="checkbox" class="tiny" ng-model="replyAllowed">
            <label for="chkAllowReply">Permite responder</label>
        </div>
        <div style="margin-top:12px;float:left;" ng-init="autoClear=true;">
            <input id="chkAutoClear" type="checkbox" class="tiny" ng-model="autoClear">
            <label for="chkAutoClear">Limpar destinos</label>
        </div>
        <button class="tiny" style="margin-top:5px;margin-bottom:5px;float:right;" ng-click="sendMessage(getRecipients(), newMessageText, replyAllowed, autoClear)">Enviar</button>
    </div>
    <table width="100%" class="row">
        <tbody>
            <tr ng-repeat="user in SelectedEntities | orderBy:'name'" style="border-bottom:1px solid gray" id="{{ user.uid }}">
                <td style="padding:1px;width:36px;" ng-class="getUserStatusClass(user.id)" id="{{ 'tdp_'+user.uid }}">
                    <img style="width:32px;height:32px;border:1px solid white;" src="{{ user.picture }}" id="{{ 'pic_'+user.uid }}" />
                </td>                    
                <td ng-class="getUserStatusClass(user.id)" id="{{ 'tdu_'+user.uid }}">
                    {{ user.name }}
                    <a style="float:right;" class="close" ng-click="removeRecipient(user)"><big>&times;</big></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
